.ul {
  list-style-type: none;
  color: white;
  margin: 0;
  padding: 0;
  font-size: 18px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .li {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    justify-content: center;

    .btn {
      background-color: transparent;
      border: 2px solid white;
      display: flex;
      color: white;
      align-items: center;
      justify-content: center;
      padding: 12px 18px;
      font-size: 18px;
      border-radius: 4px;
      gap: 1rem;
      cursor: pointer;
      flex-grow: 1;
      fill: white;

      @media (hover: hover) {
        &:hover {
          opacity: 0.85;
        }
      }
    }

    &.moves {
      justify-content: space-between;
    }

    &.restart {
      .btn {
        border: 2px solid transparent;
        background-color: #5252a6;
      }
    }

    &.newGame {
      .btn {
        border: 2px solid transparent;
        background-color: rgb(135, 33, 76);
      }
    }
  }
}
