.revealedStock {
  height: 100%;
  width: 100%;
  position: relative;
  // z-index: 0;

  .card {
    // height: 100%;
    // width: 100%;
    position: absolute;
    top: 0;
    right: 0;

    &:nth-child(1) {
      z-index: 3;
      // right: 92%;
    }

    &:nth-child(2) {
      z-index: 2;
      // right: 46%;
    }

    &:nth-child(3) {
      z-index: 1;
      // right: 0;
    }
  }
}
