.tower {
  height: 100%;
  width: 100%;
  container-type: inline-size;

  .card {
    position: absolute;
    left: 0;
  }

  .dot {
    width: 6px;
    height: 6px;
    background: green;
    position: fixed;
  }
}
