.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .modal {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
    padding: 0;
    border-radius: 10px;
    min-width: 300px;
    max-width: 90%;
  }
}
