* {
  box-sizing: border-box;
}

body {
  background-color: rgb(17, 65, 31);
  display: flex;
  flex-direction: column;
  font-family: serif;
  margin: 0;
  font-family: sans-serif;

  opacity: 0.8;
  background-image:
    linear-gradient(
      30deg,
      #124811 12%,
      transparent 12.5%,
      transparent 87%,
      #124811 87.5%,
      #124811
    ),
    linear-gradient(
      150deg,
      #124811 12%,
      transparent 12.5%,
      transparent 87%,
      #124811 87.5%,
      #124811
    ),
    linear-gradient(
      30deg,
      #124811 12%,
      transparent 12.5%,
      transparent 87%,
      #124811 87.5%,
      #124811
    ),
    linear-gradient(
      150deg,
      #124811 12%,
      transparent 12.5%,
      transparent 87%,
      #124811 87.5%,
      #124811
    ),
    linear-gradient(
      60deg,
      #12481177 25%,
      transparent 25.5%,
      transparent 75%,
      #12481177 75%,
      #12481177
    ),
    linear-gradient(
      60deg,
      #12481177 25%,
      transparent 25.5%,
      transparent 75%,
      #12481177 75%,
      #12481177
    );
  background-size: 20px 35px;
  background-position:
    0 0,
    0 0,
    10px 18px,
    10px 18px,
    0 0,
    10px 18px;

  #root {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}

.App {
  font-family: sans-serif;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  body {
    #root {
      align-items: unset;
    }
  }
}
